@if (lastRow !== null) {
<div class="m-3">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-2">
        <app-summary-card [value]="lastRow.totalInvested" header="Total Invested"
            subHeader="Nominal value"></app-summary-card>
        <app-summary-card [value]="lastRow.yearEndMoney" header="Total Value"
            subHeader="Nominal value"></app-summary-card>
        <app-summary-card [value]="lastRow.totalEarnings" header="Total Return"
            subHeader="Nominal Value"></app-summary-card>
        <app-summary-card [value]="lastRow.yearEndMoneyValueToday" header="Total Value"
            subHeader="Inflation Adjusted - Today's Value" [secondary]="true"></app-summary-card>
        <app-summary-card [value]="lastRow.totalEarningsValueToday" header="Total Return"
            subHeader="Inflation Adjusted - Today's Value" [secondary]="true"></app-summary-card>
    </div>
</div>
}
<div class="hidden lg:block bg-purple-900 text-purple-50 rounded-lg shadow-lg m-3 p-6">
    <div class="flex gap-2 justify-center m-4">
        <button class="bg-purple-500 rounded-md text-purple-100 p-2 shadow-md hover:bg-purple-400"
            (click)="changeYears(1)">Increase
            years</button>
        <button class="bg-purple-500 rounded-md text-purple-100 p-2 shadow-md hover:bg-purple-400"
            (click)="changeYears(-1)">Decrease
            years</button>
    </div>
    <div class="grid grid-cols-12 gap-2 text-xs">
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">
            Year
        </div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Starting Money
        </div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Total
            inflation, %</div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Accumulated
            growth rate, %</div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Monthly
            (yearly) savings</div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Intra-year
            Investment and growth</div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Total Invested
        </div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Total Invested
            (Value today)</div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Total
            (Year-end)</div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Total (Value
            today)</div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Total Return
        </div>
        <div class="font-extrabold p-1 md:p-2 rounded-md bg-purple-700 flex items-center justify-center">Total Return
            (value today)</div>

        @for (row of data(); track $index) {
        <div class="flex flex-col p-1 md:p-2 text-sm">
            {{row.year}}
        </div>
        <div class="flex flex-col p-1 md:p-2">
            {{row.startingMoney | number: '1.0-0'}}
        </div>
        <div class="flex flex-col p-1 md:p-2">
            {{(row.totalInflation - 1) | percent: '1.2'}}
        </div>
        <div class="flex flex-col p-1 md:p-2">
            {{(row.totalGrowth - 1) | percent: '1.2'}}
        </div>
        <div class="flex flex-col p-1 md:p-2">
            {{row.savingsMonthly | number: '1.0-0'}} ({{row.savingsMonthly * 12 | number: '1.0-0'}})
        </div>
        <div class="flex flex-col p-1 md:p-2">
            {{row.intraYearGrowth | number: '1.0-0'}}
        </div>
        <div class="flex flex-col p-1 md:p-2">
            {{row.totalInvested | number: '1.0-0'}}
        </div>
        <div class="flex flex-col p-1 md:p-2 text-purple-400">
            {{row.totalInvestedValueToday | number: '1.0-0'}}
        </div>
        <div class="flex flex-col p-1 md:p-2 font-bold">
            {{row.yearEndMoney | number: '1.0-0'}}
        </div>
        <div class="flex flex-col p-1 md:p-2 text-purple-400">
            {{row.yearEndMoneyValueToday | number: '1.0-0'}}
        </div>
        <div class="flex flex-col p-1 md:p-2 font-bold">
            {{row.totalEarnings | number: '1.0-0'}}
        </div>
        <div class="flex flex-col p-1 md:p-2 text-purple-400">
            {{row.totalEarningsValueToday | number: '1.0-0'}}
        </div>
        } @empty {
        No rows.
        }
    </div>
</div>