<app-header></app-header>
<app-input
  [(savingsMonthly)]="savingsMonthly"
  [(grow)]="grow"
  [(years)]="years"
  [(inflationRate)]="inflationRate"
  [(initialCapital)]="initialCapital"
></app-input>
<app-trading212input [(initialCapital)]="initialCapital"></app-trading212input>

<app-investment-grid
  [savingsMonthly]="savingsMonthly()"
  [grow]="grow()"
  [(years)]="years"
  [inflationRate]="inflationRate()"
  [initialCapital]="initialCapital()"
  [startingYear]="startingYear()"
  (yearsChanged)="onYearsChanged($event)"
  (dataChanged)="onDataChanged($event)"
></app-investment-grid>
@if (data() !== null) {
<app-investment-chart [data]="data()"></app-investment-chart>
} @else {
<div class="bg-red-500 text-red-50 rounded-lg shadow-lg m-3 p-6">
  There is nothing to draw.
</div>
}
