<app-header></app-header>
<app-input
  [(savingsMonthly)]="savingsMonthly"
  [(grow)]="grow"
  [(years)]="years"
  [(inflationRate)]="inflationRate"
  [(initialCapital)]="initialCapital"
></app-input>
<app-trading212input [(initialCapital)]="initialCapital"></app-trading212input>

@defer (on timer(3s); prefetch on idle){
<app-investment-grid
  [savingsMonthly]="savingsMonthly()"
  [grow]="grow()"
  [(years)]="years"
  [inflationRate]="inflationRate()"
  [initialCapital]="initialCapital()"
  [startingYear]="startingYear()"
  (dataChanged)="onDataChanged($event)"
  (yearsChanged)="onYearsChanged($event)"
></app-investment-grid>
} @error {
<div class="bg-purple-900 text-purple-50 rounded-lg shadow-lg m-3 p-6">
  Failed to laod the lazy loaded module
</div>
} @placeholder (minimum 500ms) {
<div class="bg-purple-900 text-purple-50 rounded-lg shadow-lg m-3 p-6">
  Placeholder for lazy loaded module
</div>
} @loading {
<div class="bg-purple-900 text-purple-50 rounded-lg shadow-lg m-3 p-6">
  Loading
</div>
} @if (data() !== null) { @defer (on viewport){
<app-investment-chart [data]="data()"></app-investment-chart>
} @error {
<div class="bg-purple-900 text-purple-50 rounded-lg shadow-lg m-3 p-6">
  Failed to laod the lazy loaded module
</div>
} @placeholder {
<div class="bg-purple-900 text-purple-50 rounded-lg shadow-lg m-3 p-6">
  Placeholder for lazy loaded module
</div>
} @loading {
<div class="bg-purple-900 text-purple-50 rounded-lg shadow-lg m-3 p-6">
  Loading
</div>
} } @else {
<div class="bg-red-500 text-red-50 rounded-lg shadow-lg m-3 p-6">
  There is nothing to draw.
</div>

}
